venv
.venv
.idea
.vscode
**/__pycache__/

src/database/*
!src/database/

src/stockGroups/*
!src/stockGroups/
/src/stockGroups/*
/src/stockGroups/group_all.yaml
/src/stockGroups/group_over20years.yaml
