venv
.venv
.idea
.vscode
**/__pycache__/

src/database/*
!src/database/

src/stockGroups/bin/*
!src/stockGroups/bin/__init__.py

src/predictionmodule/bin/*
!src/predictionmodule/bin/__init__.py

*.lprof

documents