venv
.venv
.idea
.vscode
**/__pycache__/

src/database/*
!src/database/.gitignore

secrets/*
!secrets/.gitignore

tools/*

outputs/*
!outputs/.gitignore

src/stockGroups/bin/*
!src/stockGroups/bin/__init__.py

src/featureAlchemy/bin/*
!src/featureAlchemy/bin/__init__.py

src/predictionmodule/bin/*
!src/predictionmodule/bin/__init__.py

*.lprof
output_*

documents
/optuna.db

notebooks/notebook*
