lightgbm
matplotlib
numpy
pandas
plotly
polars
pyarrow
PyYAML
scikit_learn
scipy
tensorflow
yfinance
ta==0.11.0
pycountry
shap
alpha_vantage
requests
holidays
optuna
seaborn
statistics
numba
pandas_market_calendars